<md-card class="page body">
  <md-card-title>LBM</md-card-title>
  <md-card-subtitle>LBM</md-card-subtitle>
  <!--Actions-->
  <br><br>
  <md-card-title>Actions</md-card-title>
  <md-card-content>
    <button md-button>
      <md-icon>library_books</md-icon>
      <span>All offers</span>
    </button><br>
    <button md-button>
      <md-icon>add</md-icon>
      <span>New offer</span>
    </button><br>
  </md-card-content>
  <!--Additional-->
  <br><br>
  <md-card-title>Additional</md-card-title>
  <md-card-content>
  </md-card-content>
  <md-card-content>
    <button md-button>
      <md-icon>group</md-icon>
      <span>Clients</span>
    </button><br>
    <button md-button>
      <md-icon>group_add</md-icon>
      <span>Add a new client</span>
    </button><br>
    <button md-button>
      <md-icon>note</md-icon>
      <span>Courses</span>
    </button><br>
    <button md-button>
      <md-icon>note_add</md-icon>
      <span>Add a new course</span>
    </button><br>
    <button md-button>
      <md-icon>scanner</md-icon>
      <span>Scanned documents</span>
    </button><br>
    <button md-button (click)="test()">Test</button>
    <app-login></app-login>
  </md-card-content>
  <md-card-title>LBM</md-card-title>
  <md-card-subtitle>LBM</md-card-subtitle>
  <!--Actions-->
  <br><br>
  <md-card-title>Actions</md-card-title>
  <md-card-content>
    <button md-button>
      <md-icon>library_books</md-icon>
      <span>All offers</span>
    </button><br>
    <button md-button>
      <md-icon>add</md-icon>
      <span>New offer</span>
    </button><br>
  </md-card-content>
  <!--Additional-->
  <br><br>
  <md-card-title>Additional</md-card-title>
  <md-card-content>
  </md-card-content>
  <md-card-content>
    <button md-button>
      <md-icon>group</md-icon>
      <span>Clients</span>
    </button><br>
    <button md-button>
      <md-icon>group_add</md-icon>
      <span>Add a new client</span>
    </button><br>
    <button md-button>
      <md-icon>note</md-icon>
      <span>Courses</span>
    </button><br>
    <button md-button>
      <md-icon>note_add</md-icon>
      <span>Add a new course</span>
    </button><br>
    <button md-button>
      <md-icon>scanner</md-icon>
      <span>Scanned documents</span>
    </button><br>
    <button md-button (click)="test()">Test</button>
    <app-login></app-login>
  </md-card-content>
  <md-card-title>LBM</md-card-title>
  <md-card-subtitle>LBM</md-card-subtitle>
  <!--Actions-->
  <br><br>
  <md-card-title>Actions</md-card-title>
  <md-card-content>
    <button md-button>
      <md-icon>library_books</md-icon>
      <span>All offers</span>
    </button><br>
    <button md-button>
      <md-icon>add</md-icon>
      <span>New offer</span>
    </button><br>
  </md-card-content>
  <!--Additional-->
  <br><br>
  <md-card-title>Additional</md-card-title>
  <md-card-content>
  </md-card-content>
  <md-card-content>
    <button md-button>
      <md-icon>group</md-icon>
      <span>Clients</span>
    </button><br>
    <button md-button>
      <md-icon>group_add</md-icon>
      <span>Add a new client</span>
    </button><br>
    <button md-button>
      <md-icon>note</md-icon>
      <span>Courses</span>
    </button><br>
    <button md-button>
      <md-icon>note_add</md-icon>
      <span>Add a new course</span>
    </button><br>
    <button md-button>
      <md-icon>scanner</md-icon>
      <span>Scanned documents</span>
    </button><br>
    <button md-button (click)="test()">Test</button>
    <app-login></app-login>
  </md-card-content>
</md-card>